*{margin: 0; padding: 0; box-sizing: border-box; outline: none;}
.principal{
    display: grid;
    grid-template-columns:75% 25%; /*estou informando que quero 2 colunas*/
    grid-template-areas: 'cabecalho formulario'
                          'principal formulario'
                          'rodape formulario';
    height: 100vh; /*vh(view port height) significa o quanto o conteudo vai ocupar da tela em relação a porcentagem total da respectiva tela*/                   
}
header{background-color: blue; grid-area: cabecalho;}
main{background-color: red; grid-area: principal;}
aside{background-color: chartreuse; grid-area: formulario;}
footer{background-color: orange; grid-area: rodape;}
